{% extends "catalog/base.html" %}
{% load mediapath %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section id="products">
    <h2>Товары</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if product.image %}
                        <img src="{% mediapath product.image %}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% mediapath 'no_foto.jpg' %}" class="card-img-top" alt="No Photo">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description | truncatechars:100 }}</p>
                        <p class="card-price">${{ product.price }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
