{% extends "catalog/base.html" %}
{% load static %}
{% load mediapath %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{% mediapath product.image %}" alt="{{ product.name }}" class="img-fluid">
            {% else %}
                <img src="{% mediapath 'no_foto.jpg' %}" class="card-img-top" alt="No Photo">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1 class="mb-4">{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p><strong>Цена:</strong> ${{ product.price }}</p>
            <p><strong>Категория:</strong> {{ product.category }}</p>
            <p><strong>Дата создания:</strong> {{ product.created_at }}</p>
            <p><strong>Дата последнего изменения:</strong> {{ product.updated_at }}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-md-right">
            <a href="/" class="btn btn-outline-primary">На главную</a>
        </div>
    </div>
</div>
{% endblock %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md
